.main {
	margin: 100px 0;
}
.spell-list {
	margin: auto;
	min-width: 275px;
	width: 70%;
}

.list-group-item:hover {
	background-color: #efefef;
}


.spell-not-found,
.spell-loading {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}


