.app-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	font-weight: bold;
	padding: 20px 0;
}

.header-text{
	color:"dark";
}
