.navigation a {
	display: flex;
	align-items: center;
	justify-content: end;
	color: white;
	text-decoration: none;
	padding: 10px;
	margin: 0 15px;
}

.navigation a:hover {
	margin: 0 15px;
	color: white;
	text-decoration: underline;
}


